h1 {
    text-align: center;
}
body {
    user-select: none;
    background-color: rgb(224, 224, 108);
}
svg.x {
    background-color: burlywood;
    display: inline-block;
    padding: 10px;
    margin: 20px;
    border-radius: 10px;
    position: absolute;
    animation: a1 5s infinite;
}
@keyframes a1 {
    0% {
        top: 200px;
        left: 200px;
    } 
    50% {
        top: 400px;
        left: 200px;
    }
    75% {
        top: 400px;
        left: 600px;
    }
    100% {
        top: 200px;
        left: 200px;
    }
}
table {
    margin: auto;
    border: solid 1px black;
    border-spacing: 10px;
    background-color: beige;
    border-radius: 10px;
}
td {
    border: solid 1px green;
    text-align: center;
    width: 100px;
    padding: 10px;
    background-color: antiquewhite;
    border-radius: 6px;
}
table.t1 td {
    background-color: aqua;
}
#o1 {
    position: relative;
    left: 500px;
}
div#cic1 {
    display: inline;
}